.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 284px);
  gap: 16px;
  max-width: 1184px;
  margin: 0 auto;
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;
}

@media screen and (max-width: 1183px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 300px);
    gap: 14px;
    max-width: 928px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 930px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 352px);
    gap: 16px;
    max-width: 720px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 16px;
    max-width: 700px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .photo-grid {
    grid-template-columns: 288px;
    gap: 12px;
  }
}